# Entorno virtual Python
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Spyder
.spyproject/

# VS Code
.vscode/

# Temporales de Excel
~$*.xlsx
~$*.xls

# Archivos temporales
*.tmp
*.bak

# Pytest
.pytest_cache/